nv overlay evpn
feature bgp
feature fabric forwarding
feature interface-vlan
feature vn-segment-vlan-based
feature nv overlay
!
{% if spine1 is defined %} 
router bgp 64520
 address-family l2vpn evpn
   retain route-target all
 template peer VXLAN_LEAF
   remote-as 64520
   update-source loopback0
   address-family l2vpn evpn
     send-communty
     send-communty extended
     route-reflector-client
  neighbor 22.22.22.22
    inherit peer VXLAN_LEAF
  neighbor 33.33.33.33
    inherit peer VXLAN_LEAF
{% endif %}

{% if leaf1 is defined %} 
 router bgp 64520
 address-family l2vpn evpn
 template peer VXLAN_SPINE
   remote-as 64520
   update-source loopback0
   address-family l2vpn evpn
     send-communty
     send-communty extended
  neighbor 11.11.11.11
    inherit peer VXLAN_SPINE
{% endif %}
