interfaces {
    {{ if0 }} {
        unit 0 {
            family inet address {{ ip0 }}/24
        }
    }
    {{ lo0 }} {
        unit 0 {
            family inet address {{ loopback_address }}/32
        }
    }
}
