---
feature ospf
router ospf UNDERLAY_NET
 router-id {{ looopback }}
!
interface Loopback0
 ip ospf UNDERLAY_NET area 0
!

{% if SPINE is defined %}
interface {{SPINE.interface}}
 ip ospf UNDERLAY_NET area 0
 medium p2p
{% endif %}

{% if LEAF is defined %}
interface {{LEAF.0.interface}}
 ip ospf UNDERLAY_NET area 0
 medium p2p
!
interface {{LEAF.1.interface}}
 ip ospf UNDERLAY_NET area 0
 medium p2p
{% endif %}
